.certHeader {
  color: #110a4a;
  font-size: 70px;
}

#certifications {
  background-color: #d9f8d975;
  width: 100%;
  min-height: 100vh;
}

.cTitle {
  color: #110a4a;
}

.hr {
  color: red;
}

.cardBorder {
  background: #d9f8d9;
}

@media screen and (max-width: 480px) {
  .certHeader {
    font-size: 50px;
  }
}
