.certHeader {
  color: #110a4a;
  font-size: 70px;
}

#news {
  background-color: #d9f8d975;
  width: 100%;
  min-height: 100vh;
}

.cTitle {
  color: #110a4a;
}

.marque {
  color: #110a4a;
  background: #d9f8d9;
}
